Cobros 3.5.1/RegistroTransacciones/Web References/t03.contabilidad/contrato.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:comun="http://dipres.gob.cl/ejecucion/comun/esquema/1/0/" xmlns:tns="http://dipres.gob.cl/ejecucion/contabilidad/contrato/1/0/" name="contrato" targetNamespace="http://dipres.gob.cl/ejecucion/contabilidad/contrato/1/0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>Este paquete contiene los elementos involucrados en la definición abstracta del contrato del servicio Web de TransaccionContable.</wsdl:documentation>
  <wsp:Policy wsu:Id="wss_username_token_service_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
      <wsp:Policy>
        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
          <wsp:Policy>
            <sp:WssUsernameToken10 />
          </wsp:Policy>
        </sp:UsernameToken>
      </wsp:Policy>
    </sp:SupportingTokens>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns:cont="http://dipres.gob.cl/ejecucion/contabilidad/esquema/1/0/" targetNamespace="http://dipres.gob.cl/ejecucion/contabilidad/contrato/1/0/">
      <xsd:import schemaLocation="https://t03.sigfe.gob.cl/ejecucion/contabilidad/Contabilidad_1_0?SCHEMA%2Fdipres.gob.cl%2Fejecucion%2Fcontabilidad%2Fxsd%2FContabilidad_1_0" namespace="http://dipres.gob.cl/ejecucion/contabilidad/esquema/1/0/" />
      <xsd:import schemaLocation="https://t03.sigfe.gob.cl/ejecucion/contabilidad/Contabilidad_1_0?SCHEMA%2Fdipres.gob.cl%2Fejecucion%2Fcomun%2Fxsd%2FComun_1_0" namespace="http://dipres.gob.cl/ejecucion/comun/esquema/1/0/" />
      <xsd:complexType name="RespuestaBusquedaDeTransaccionesContablesMsgType">
        <xsd:annotation>
          <xsd:documentation>Esta clase define el
						tipo mensaje que se utiliza para responder a una solicitud de búsqueda de TransaccionesContables.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="resumenesDeTransaccionesContables">
            <xsd:annotation />
            <xsd:complexType>
              <xsd:annotation />
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="resumenDeTransaccionContable" type="cont:ResumenTransaccionContable">
                  <xsd:annotation />
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RespuestaBusquedaDeTransaccionesContables" type="tns:RespuestaBusquedaDeTransaccionesContablesMsgType">
        <xsd:annotation>
          <xsd:documentation>Este atributo establece que el tipo global
						RespuestaDeBusquedaDeTransaccionesContables corresponde a la
						definición de tipo
						de mensaje
						RespuestaDeBusquedaDeTransaccionesContablesMsgType.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:complexType name="SolicitudDeBusquedaDeTransaccionesContablesMsgType">
        <xsd:annotation>
          <xsd:documentation>Esta clase define el tipo
						mensaje que se utiliza para generar una solicitud de búsqueda de TransaccionesContables.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="partida" type="comun:CodigoPartida">
            <xsd:annotation />
          </xsd:element>
          <xsd:element name="capitulo" type="comun:CodigoCapitulo">
            <xsd:annotation />
          </xsd:element>
          <xsd:element name="areaTransaccional" type="comun:CodigoAreaTransaccional">
            <xsd:annotation />
          </xsd:element>
          <xsd:element name="ejercicio" type="comun:Ejercicio">
            <xsd:annotation />
          </xsd:element>
          <xsd:element name="tipoTransaccion" type="xsd:string">
            <xsd:annotation />
          </xsd:element>
          <xsd:element name="fechaInicio" type="comun:Fecha">
            <xsd:annotation />
          </xsd:element>
          <xsd:element name="fechaFin" type="comun:Fecha">
            <xsd:annotation />
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SolicitudDeBusquedaDeTransaccionesContables" type="tns:SolicitudDeBusquedaDeTransaccionesContablesMsgType">
        <xsd:annotation>
          <xsd:documentation>Este atributo establece que el tipo global
						SolicitudDeBusquedaDeTransaccionesContables corresponde a la
						definición de tipo
						de mensaje
						SolicitudDeBusquedaDeTransaccionesContablesMsgType.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:complexType name="RespuestaObtencionDeTransaccionContableMsgType">
        <xsd:annotation>
          <xsd:documentation>Esta clase define el tipo de mensaje que se utiliza para responder a una solicitud de obtención de un
						elemento TransaccionContable particular.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="transaccionContabilidad" type="cont:TransaccionContabilidad">
            <xsd:annotation />
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RespuestaObtencionDeTransaccionContable" type="tns:RespuestaObtencionDeTransaccionContableMsgType">
        <xsd:annotation>
          <xsd:documentation>Este atributo establece que el tipo global
						RespuestaDeObtencionDeTransaccionContable corresponde a la
						definición de tipo de mensaje
						RespuestaDeObtencionDeTransaccionesContablesMsgType.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:complexType name="SolicitudDeObtencionDeTransaccionContableMsgType">
        <xsd:annotation>
          <xsd:documentation>Esta clase define el mensaje que se utiliza para generar una solicitud de obtención de
						elemento TransaccionContable específico.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="partida" type="comun:CodigoPartida">
            <xsd:annotation />
          </xsd:element>
          <xsd:element name="capitulo" type="comun:CodigoCapitulo">
            <xsd:annotation />
          </xsd:element>
          <xsd:element name="areaTransaccional" type="comun:CodigoAreaTransaccional">
            <xsd:annotation />
          </xsd:element>
          <xsd:element name="ejercicio" type="comun:Ejercicio">
            <xsd:annotation />
          </xsd:element>
          <xsd:element name="folio" type="xsd:long">
            <xsd:annotation />
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SolicitudDeObtencionDeTransaccionContable" type="tns:SolicitudDeObtencionDeTransaccionContableMsgType">
        <xsd:annotation>
          <xsd:documentation>Este atributo establece que el tipo global
						SolicitudDeObtencionDeTransaccionContable corresponde a la
						definición de tipo de mensaje
						SolicitudDeObtencionDeTransaccionContableMsgType.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:complexType name="SolicitudDeRegistroDeTransaccionesContablesMsgType">
        <xsd:annotation>
          <xsd:documentation>Esta clase define el mensaje que se utiliza para generar una solicitud de la creación o ajuste de
						un conjunto de TransaccionesContables.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="cabecera" type="comun:CabeceraTransaccion">
            <xsd:annotation />
          </xsd:element>
          <xsd:element name="detalles">
            <xsd:annotation />
            <xsd:complexType>
              <xsd:annotation />
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="transaccionContabilidad" type="cont:TransaccionContabilidad">
                  <xsd:annotation />
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SolicitudDeRegistroDeTransaccionesContables" type="tns:SolicitudDeRegistroDeTransaccionesContablesMsgType">
        <xsd:annotation>
          <xsd:documentation>Este atributo establece que el tipo global
						SolicitudDeRegistroDeTransaccionesContables corresponde a la
						definición de tipo de mensaje
						SolicitudDeRegistroDeTransaccionesContablesMsgType.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BuscarTransaccionesContablesRequestMsg">
    <wsdl:part name="solicitud" element="tns:SolicitudDeBusquedaDeTransaccionesContables" />
  </wsdl:message>
  <wsdl:message name="BuscarTransaccionesContablesResponseMsg">
    <wsdl:part name="respuesta" element="tns:RespuestaBusquedaDeTransaccionesContables" />
  </wsdl:message>
  <wsdl:message name="BuscarTransaccionesContablesFallaMsg">
    <wsdl:part name="falla" element="comun:Falla" />
  </wsdl:message>
  <wsdl:message name="ObtenerTransaccionContableRequestMsg">
    <wsdl:part name="solicitud" element="tns:SolicitudDeObtencionDeTransaccionContable" />
  </wsdl:message>
  <wsdl:message name="ObtenerTransaccionContableResponseMsg">
    <wsdl:part name="respuesta" element="tns:RespuestaObtencionDeTransaccionContable" />
  </wsdl:message>
  <wsdl:message name="ObtenerTransaccionContableFallaMsg">
    <wsdl:part name="falla" element="comun:Falla" />
  </wsdl:message>
  <wsdl:message name="RegistrarTransaccionesContablesRequestMsg">
    <wsdl:part name="solicitud" element="tns:SolicitudDeRegistroDeTransaccionesContables" />
  </wsdl:message>
  <wsdl:message name="RegistrarTransaccionesContablesResponseMsg">
    <wsdl:part name="respuesta" element="comun:TicketDeAtencion" />
  </wsdl:message>
  <wsdl:message name="RegistrarTransaccionesContablesFallaMsg">
    <wsdl:part name="falla" element="comun:Falla" />
  </wsdl:message>
  <wsdl:portType name="Contabilidad">
    <wsdl:documentation>Esta interfaz define los
			métodos del servicio Web de TransaccionContable.</wsdl:documentation>
    <wsdl:operation name="buscarTransaccionesContables">
      <wsdl:documentation>Obtiene un conjunto de TransaccionesContables en base a un rango de fechas.
				Los elementos del conjunto
				retornado tienen un resumen de la información almacenada del sistema. Para obtener toda la información 
				de un elemento TransaccionContable particular, se debe invocar el método obtenerTransaccionContable.</wsdl:documentation>
      <wsdl:input message="tns:BuscarTransaccionesContablesRequestMsg" />
      <wsdl:output message="tns:BuscarTransaccionesContablesResponseMsg" />
      <wsdl:fault name="buscarTransaccionesContablesFault" message="tns:BuscarTransaccionesContablesFallaMsg" />
    </wsdl:operation>
    <wsdl:operation name="obtenerTransaccionContable">
      <wsdl:documentation>Retorna la información de un elemento
				TransaccionContable específico.</wsdl:documentation>
      <wsdl:input message="tns:ObtenerTransaccionContableRequestMsg" />
      <wsdl:output message="tns:ObtenerTransaccionContableResponseMsg" />
      <wsdl:fault name="obtenerTransaccionContableFault" message="tns:ObtenerTransaccionContableFallaMsg" />
    </wsdl:operation>
    <wsdl:operation name="registrarTransaccionesContables">
      <wsdl:documentation>Crea o ajusta un conjunto
				de TransaccionesContables en el sistema de manera asincrónica. Este método retorna un
				 ticket de atención, el cual puede ser utilizado posteriormente para consultar el estado de la operación.</wsdl:documentation>
      <wsdl:input message="tns:RegistrarTransaccionesContablesRequestMsg" />
      <wsdl:output message="tns:RegistrarTransaccionesContablesResponseMsg" />
      <wsdl:fault name="registrarTransaccionesContablesFault" message="tns:RegistrarTransaccionesContablesFallaMsg" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>