Cobros 3.5.1/RegistroTransacciones/Web References/t03.contabilidad/tmp0000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:comun="http://dipres.gob.cl/ejecucion/comun/esquema/1/0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dipres.gob.cl/ejecucion/comun/esquema/1/0/" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0" xml:lang="es">
	<xsd:simpleType name="CodigoCapitulo">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="[0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CodigoPartida">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="[0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CodigoAreaTransaccional">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="[0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipoTransaccionPrevia">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="2"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="[0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ImputacionACatalogoDeReagrupacion">
		<xsd:annotation>
			<xsd:documentation>Declara una imputación a un elemento de un
				catálogo de reagrupación. El atributo “catalogo” identifica el
				catálogo de reagrupación al que pertenece el elemento imputado, y
				atributo “elemento”, contiene su identificador.

				No hay un campo
				“monto”, donde se declare el detalle del monto a
				imputar debido a que
				se asume que este elemento se usará en el
				contexto de una relación
				“de muchos a muchos” entre imputaciones a
				catálogos básicos y de
				reagrupación, donde los montos imputados se
				detallarán en los
				catálogos básicos.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="catalogo" type="comun:IdConfiguracion">
				<xsd:annotation>
					<xsd:documentation>Su valor es el código del catálogo de
						reagrupación incorporado en la transacción.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="elemento" type="comun:IdConfiguracion">
				<xsd:annotation>
					<xsd:documentation>Su valor es el valor imputado al catálogo de
						reagrupación. Los valores informados para los catálogos de
						reagrupación deben respetar las limitaciones impuestas por la
						configuración (por ejemplo, podría haber en la configuración una
						limitación que impida que un valor de un catálogo sea usado junto
						con un determinado tipo de presupuesto).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ImputacionesAGlosas">
		<xsd:sequence>
			<xsd:element name="imputacion" type="comun:ImputacionAGlosas" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ImputacionAGlosas">
		<xsd:annotation>
			<xsd:documentation>Representa una imputación a una glosa
				presupuestaria controlable específica, a nivel de letra.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="programa">
				<xsd:annotation>
					<xsd:documentation>Su valor es el código del programa
						presupuestario al cual está asociada la glosa presupuestaria.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="5"/>
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numero">
				<xsd:annotation>
					<xsd:documentation>Su valor es el Número de la glosa
						presupuestaria.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="18"/>
						<xsd:pattern value="[0-9]*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="letra">
				<xsd:annotation>
					<xsd:documentation>Su valor es la Letra de la glosa presupuestaria.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="5"/>
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[a-zA-Z]*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="monto" type="comun:Monto">
				<xsd:annotation>
					<xsd:documentation>Su valor es el monto o cantidad imputado a la
						glosa presupuestaria.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TipoDocumento">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="4"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CodigoTipoDocumento">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="20"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NumeroDocumento">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="20"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DescripcionDocumento">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="500"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="InformacionDeAjuste">
		<xsd:sequence>
			<xsd:element name="folioTransaccionAjustada" type="comun:Folio">
				<xsd:annotation>
					<xsd:documentation>Corresponde al folio de la trasnacción original
						que será ajustada.
						Se obtiene de una consulta al devengo original
						en el sistema
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tipo" type="comun:IdConfiguracion">
				<xsd:annotation>
					<xsd:documentation>Corresponde al tipo de transacción que se va a
						ajustar
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="DescripcionTransaccion">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="480"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TituloTransaccion">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TipoDeCambio">
		<xsd:sequence>
			<xsd:element name="fecha" type="comun:Fecha"/>
			<xsd:element name="moneda" type="comun:Moneda"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CamposVariables">
		<xsd:annotation>
			<xsd:documentation>Corresponde a una imputación a un campo variable
				existente en la configuración institucional.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="campoVariable" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:annotation>
						<xsd:documentation>Representa un campo variable con su
							correspondiente valor.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:sequence>
						<xsd:element name="codigo">
							<xsd:annotation>
								<xsd:documentation>Su valor es el código del campo variable.
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="50"/>
									<xsd:whiteSpace value="collapse"/>
									<xsd:pattern value="[a-zA-Z0-9]*"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="valor">
							<xsd:annotation>
								<xsd:documentation>Su valor es el valor imputado al campo
									variable.
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="50"/>
									<xsd:whiteSpace value="preserve"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CabeceraTransaccion">
		<xsd:sequence>
			<xsd:element name="ejercicio" type="comun:Ejercicio">
				<xsd:annotation>
					<xsd:documentation>Su valor indica el Ejercicio Fiscal de las transacciones informadas.

						El Ejercicio Fiscal indicado debe estar abierto, para la Unidad
						Ejecutora indicada.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="periodo" type="comun:Periodo">
				<xsd:annotation>
					<xsd:documentation>Su valor es el código del Período de Operación
						de las transacciones informadas.

						El Período de Operación indicado
						debe estar abierto, para la Unidad
						Ejecutora indicada.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="institucion" type="comun:IdentificacionInstitucion">
				<xsd:annotation>
					<xsd:documentation>Se usa para indicar la Unidad Ejecutora de las
						transacciones incluidas en el archivo XML
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="proceso" type="comun:IdConfiguracion"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentificacionInstitucion">
		<xsd:annotation>
			<xsd:documentation>Unidad ejecutora a la que se le registrarán los
				devengos.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="partida" type="comun:CodigoPartida">
				<xsd:annotation>
					<xsd:documentation>Su valor es el código de la Partida para todas
						las transacciones incluidas en el archivo XML.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="capitulo" type="comun:CodigoCapitulo">
				<xsd:annotation>
					<xsd:documentation>Su valor es el código del Capítulo para todas
						las transacciones incluidas en el archivo XML.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="areaTransaccional" type="comun:CodigoAreaTransaccional">
				<xsd:annotation>
					<xsd:documentation>Su valor es el código del Área Transaccional
						para todas las transacciones incluidas en el archivo XML.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Moneda">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BRL"/>
			<xsd:enumeration value="CLP"/>
			<xsd:enumeration value="EUR"/>
			<xsd:enumeration value="JPY"/>
			<xsd:enumeration value="UF"/>
			<xsd:enumeration value="USD"/>
			<xsd:enumeration value="UTM"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Monto">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Periodo">
		<xsd:restriction base="xsd:int">
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Ejercicio">
		<xsd:annotation>
			<xsd:documentation>Este tipo define la estructura de los elementos
				para capturar el valor de un año. Junto con declarar que un año debe
				ser del tipo int, define que debe ser mayor al 2013 y tener 4
				dígitos.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="2011"/>
			<xsd:pattern value="20[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RUT">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="[0-9]{6,9}\-([0-9]|k)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Falla" type="comun:FallaMsgType"/>
	<xsd:element name="TicketDeAtencion" type="comun:TicketDeAtencionMsgType"/>
	<xsd:complexType name="TicketDeAtencionMsgType">
		<xsd:sequence>
			<xsd:element name="codigo" type="comun:Folio"/>
			<xsd:element name="descripcion" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FallaMsgType">
		<xsd:sequence>
			<xsd:element name="detalles">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="falla" type="comun:DetalleFalla" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Fecha">
		<xsd:restriction base="xsd:date">
			<xsd:minInclusive value="2012-01-01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Folio">
		<xsd:restriction base="xsd:long">
			<xsd:totalDigits value="18"/>
			<xsd:minInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Id">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IdConfiguracion">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="DetalleFalla">
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string"/>
			<xsd:element name="descripcion" type="xsd:string"/>
			<xsd:element name="validacion" type="xsd:string" minOccurs="0"/>
			<xsd:element name="detalle" type="xsd:anyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="MonedaPresupuestaria">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NACIONAL"/>
			<xsd:enumeration value="EXTRANJERA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipoRelacion">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PROVEEDOR"/>
			<xsd:enumeration value="CLIENTE"/>
			<xsd:enumeration value="FUNCIONARIO"/>
			<xsd:enumeration value="BENEFICIARIO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ImputacionACatalogoBasico">
		<xsd:annotation>
			<xsd:documentation>Declara la imputación de un monto a un catálogo
				básico, como por ejemplo, el catálogo Presupuestario o el Contable.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="elemento" type="comun:IdConfiguracion">
				<xsd:annotation>
					<xsd:documentation>Identifica el catálogo básico a ser imputado.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="monto" type="comun:Monto">
				<xsd:annotation>
					<xsd:documentation>Detalla el monto imputado al catálogo.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="NombreCatalogo">
		<xsd:annotation>
			<xsd:documentation><![CDATA[<p>Tipo&nbsp;de&nbsp;Datos&nbsp;Nombre&nbsp;Catalogo&nbsp;de&nbsp;Configuracion</p> ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NombreLista">
		<xsd:annotation>
			<xsd:documentation>Tipo de Datos Nombre Lista de Configuracion
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipoTransaccion">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="IdentificacionInstitucionIniciativa">
		<xsd:sequence>
			<xsd:element name="partidaIniciativa" type="comun:CodigoPartida"/>
			<xsd:element name="capituloIniciativa" type="comun:CodigoCapitulo"/>
			<xsd:element name="CodigoPrograma">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="CodigoBip">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="12"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="[0-9]{1,9}\-([0-9])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Rate">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RS">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Recomendado Favorablemente:
						Recomendación favorable otorgada a los proyectos, programas y
						estudios básicos nuevos y de arrastre, que cumplen con la
						condición de haber sido presentados al S.N.I, con todos los
						antecedentes y estudios que demuestran que para la solución del
						problema se ha seleccionado la alternativa que ha demostrado la
						conveniencia de llevar a cabo la iniciativa postulada&lt;/p&gt; </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FI">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Falta de información: Situación en la
						cual los antecedentes presentados son insuficientes para respaldar
						la iniciativa de inversión.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IN">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Incumplimiento de normativa: Resultado
						del análisis de una iniciativa de inversión nueva o de arrastre,
						sobre la cual MIDEPLAN, no se pronunciará cuando ésta haya sido
						objeto de asignación de recursos, adjudicada , iniciada o con
						gasto ejecutado, sin contar previamente con la recomendación
						favorable&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OT">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Objetado Tecnicamente: Resultado del
						análisis que corresponderá cuando los antecedentes entregados
						permiten concluir que la iniciativa no es conveniente llevarla a
						cabo debido a alguna de las siguientes
						situaciones&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RE">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;reevaluación: Iniciativa de inversión
						en proceso de reevaluación técnico económica producto de un cambio
						en sus costos superior al 10% originalmente aprobado o cambios en
						su naturaleza&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RegionCodigo">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="[0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProvinciaCodigo">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="[0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ComunaCodigo">
		<xsd:restriction base="xsd:string">
			<xsd:length value="5"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="[0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CabeceraTransaccionIniciativa">
		<xsd:sequence>
			<xsd:element name="modulo" type="comun:Modulo"/>
			<xsd:element name="fechaEnvio" type="comun:Fecha"/>
			<xsd:element name="identificacionSistema" type="comun:IdentificacionDeSistema"/>
			<xsd:element name="cantidadRegistros" type="comun:CantidadDeRegistros"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="CantidadDeRegistros">
		<xsd:restriction base="xsd:decimal">
			<xsd:whiteSpace value="collapse"/>
			<xsd:maxInclusive value="9999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IdentificacionDeSistema">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Modulo">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="ControlErroresIniciativaInversionType">
		<xsd:sequence>
			<xsd:element name="ProcesoIDIs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tipoEntidad" type="xsd:string"/>
						<xsd:element name="descripcionProceso" type="xsd:string"/>
						<xsd:element name="IDIsProcesada" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="partida">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="capitulo" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="programa" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="codigo" type="xsd:string"/>
									<xsd:element name="ConceptosError" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="atributoInvalido" type="xsd:string" minOccurs="0"/>
												<xsd:element name="valorInvalido" type="xsd:string" minOccurs="0"/>
												<xsd:element name="tipoValidacion" type="xsd:string" minOccurs="0"/>
												<xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
												<xsd:element name="codigoError" type="xsd:string" minOccurs="0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fallaType">
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string"/>
			<xsd:element name="descripcion" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Mes">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CodigoEtapa">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
</xsd:schema>
